/***
* @auth: dmx
* @time: 2020/6/28
* @func: 
* @params: 
* @return: 
* @updateTime: 
***/
.layout {
  height: 100%;


  &-logo {
    height: 32px;
    background: rgba(255, 255, 255, 0.2);
    margin: 16px;
  }


  &-header {
    background: #fff;
  }

}